@charset "utf-8";
* {
	margin:0;
	padding:0;
	}
a{
	text-decoration:none;
}
body {
	background:url(../images/body-bg.jpg) repeat left top;
	font-family:Arial, Helvetica, sans-serif;

	color:#9f9f9f;
	padding:25px 0 50px 0;
	} 

header{background-color:black;}

.container{
	margin:0 auto;
	max-width:1400px;
	height:2220px;
	background-color:black;
	box-shadow:0 0 15px white;
}
/*Bắt đầu menu ngang*/
.container .menu-ngang{
	float:left;
	width:100%;
	border-top: 1px groove white;
	border-bottom:1px groove white;
}
.container .menu-ngang ul{
	padding:7px 0 0 10px;
	list-style-type:none;
	margin:10;
}
.container .menu-ngang ul li{
	float:left;
}
.container .menu-ngang ul li:first-child a{
	background:none;
	padding-left:0;
}
.container .menu-ngang ul li a{
	color:#fefefe;
	font-size:14px;
	line-height:40px;
	text-decoration:none;
	background:url(../images/menu-line.gif) no-repeat left 7px;
	padding:0px 20px 0px 20px;
	overflow:hidden;
	display:block;
}
.container .menu-ngang ul li a:hover,
.container .menu-ngang ul li.selected a{
	color:#FF69B4;
}
.rmenu-ngang{
	float:right;
	padding-right:10px;
}
/*Kết thúc menu ngang*/

/*Bắt đầu search css*/
#search-site {
    float: right;
    width: 230px;
    height: 35px;
    background: #fff;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.topinput {
    float: left;
    width: 175px;
    margin-left: 8px;
    padding-top: 3px;
    border: 0;
    position: relative;
    background: #fff;
    height: 30px;
    text-indent: 10px;
    font-size: 13px;
	font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
    outline: none;
    zoom: 1;
}
.btntop {
    float: right;
    width: 40px;
    height: 35px;
    border: 0;
    background: none;
}
.icontgdd-topsearch {
    background-position: -160px 0;
    width: 20px;
    height: 20px;
    display: block;
    margin: 7px auto 0;
	background-image: url(../images/icondesktop@1x.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
}

/*Kết thúc search css*/

/*Bắt đầu center-side*/
section .center-side{
	padding-left:20px;
	width:auto;
	height:1570px;
	float:left;
	}
.text-chitietsanpham{
	background: #282828;
	padding:5px;
	width:175px;
	height:25px;
	border-radius:5px;
	text-decoration:none;
}
.text-chitietsanpham>a{
	font-size:16px;
	margin:10px;
	color:white;
	text-transform: uppercase;
	line-height:30px;
}
.chitietsanpham{
	width:1120px;
	height:1140px;
}
.chitietsanpham>.hinhanh{
	width:30%;
	height:570px;
	float:left;
}
.chitietsanpham>.hinhanh>img{
	margin:10px;
	width:94%;
	height:74%;
	border:1px groove white;
}
.mySlides{
	display:none;
}
.slide{
	margin:10px;
	cursor:pointer;
	float:left;
}
.slide img{
	border:1px groove white;
	float:left;
}
.slide img:hover{
	box-shadow:0 0 5px white;
}
.chitietsanpham>.thongtin{
	width:70%;
	height:570px;
	float:left;
}
.tensanpham{
	color:white;
	font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
	font-size:25px;
	margin:10px;
}
.giasanpham{
	color:red;	
	margin:10px;
}
.phuongthuc{
	width:100%;
	float:left;	
}
.phuongthuc>ul>li{
	list-style:none;
	margin:10px;
	float:left;
}
.phuongthuc .giaohang{
	background:url(../images/giao-hang.png) no-repeat scroll left center transparent;
	list-style:none;
	margin-top:20px;
}
.phuongthuc .giaohang div{
	margin-left:50px;
	margin-right:50px;
}
.phuongthuc .thanhtoan{
	background:url(../images/giao-hang.png) no-repeat scroll left center transparent;
	list-style:none;
	margin:20px;
}
.phuongthuc .thanhtoan div{
	margin-left:50px;
	margin-right:30px;
}

.phuongthuc .doihang{
	background:url(../images/icon-e-2.png) no-repeat scroll left center transparent;
	list-style:none;
	margin:20px;
}
.phuongthuc .doihang div{
	margin-left:50px;
}
.thongtinphone{
	background:url(../images/sprite_icon.png) no-repeat scroll left center transparent;
	margin:10px;
	float:left;
}
.thongtinphone a{
	margin:40px;
}
.thongtinphone b{
	margin:40px;
	color:#F60;
}

.onlinepromo {
    border: #d0021b solid 1px;
    border-radius: 4px;
    padding: 50px 0px 30px;
    position: relative;
    overflow: visible;
    margin: 170px 10px;
}
.onlinepromo b {
    background: #ec1933;
    border-radius: 13px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top: -13px;
    left: 10px;
    vertical-align: middle;
    line-height: 26px;
    padding: 0 15px 0 30px;
}
.onlinepromo b:before {
    content: '';
    background: url(../images/icon-qua-tang@2x.png);
    width: 16px;
    height: 15px;
    background-size: 16px 15px;
    float: left;
    margin: 4px 5px 0 -15px;
}
.infopr span:before {
    content: '';
    margin-left: 40px;
    background: url(../images/check@2x.png);
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    margin-right: 20px;
    float: left;
    margin-top: 2px;
}
.thread-dich-vu {
    background: none repeat scroll 0% 0% #DEF0B7;
	padding:5px;
    color: #000;
	margin:10px;
    border-radius: 5px;
	bottom:150px;
	position:relative;
}
.thread-dich-vu li {
    background: url(../images/ne.png) no-repeat scroll left center / 16px auto transparent;
    padding: 12px 0px 10px 22px;
	margin:10px;
    display: block;
}
.thread-dich-vu ul {
    list-style: outside none none;
}
.area_order {
    display: block;
    overflow: hidden;
    margin: 10px;
	bottom:150px;
	position:relative;
}
.area_order .buy_now {
    display: block;
    overflow: hidden;
    padding: 7px 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: #fd6e1d;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));
    background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
    background: -moz-linear-gradient(top,#f59000,#fd6e1d);
    background: -ms-linear-gradient(top,#f59000,#fd6e1d);
    background: -o-linear-gradient(top,#f59000,#fd6e1d);
	text-decoration:none;
}
.area_order .buy_now:hover{
   background:#F60;
}
.area_order span {
    display: block;
    font-size: 13px;
    color: #fff;
    text-transform: none;
    padding-top: 3px;
}
.area_order .buy_repay {
    line-height: normal;
    display: block;
    padding: 7px 0;
    text-align: center;
    margin: 10px 0 0;
    background: #288ad6;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    width: 48.5%;
    float: left;
	text-decoration:none;
}
.area_order .buy_repay:hover {
	background:#36C;
}
.area_order .buy_repay.s {
    float: right;
}
.thongtinchitiet2{
	padding-top:50px;
	width:100%;
	height:50%;
	float:left;
}
.thongtinchitiet{
	border-top: 1px groove #AAA;
	float:left;
}
.thongtinchitiet>.thongtinchitiet-left{
	width:750px;
	height:100%;
	margin:10px;
	float:left;
}
.thongtinchitiet>.thongtinchitiet-left>span{
	font-size:20px;
	line-height: 1.3em;
	display:block;
	color:white;
}
.thongtinchitiet>.thongtinchitiet-left>a{
	display:block;
}
.thongtinchitiet>.thongtinchitiet-right{
	width:250px;
	height:100%;
	margin:12px;
	float:left;
}
.thongtinchitiet>.thongtinchitiet-right>span{
	font-size:20px;
	line-height: 1.3em;
	display:block;
	color:white;
}
.thongsokithuat{
	list-style:none;
	line-height:2.7em;
}
.thongsokithuat>li{
	border-top: 1px groove #777;
}
/*Kết thúc center-side*/
/*Bình luận*/

.noidungbinhluan{
	width:100%;
	height:180px;
	float:left;
}
.noidungbinhluan textarea {
    display: block;
    overflow: hidden;
    width: 96.5%;
    background: #fff;
    min-height: 100px !important;
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: 10px 1.5%;
    font-size: 14px;
    color: #333;
    outline: none;
}
.noidungbinhluan>a.btnSend {
    padding: 5px 25px;
    height: 20px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #288ad6;
    border-radius: 4px;
    background: #288ad6;
    margin: 0;
	float:right;
	display:none;
}

.noidungbinhluan>a.btnSend:hover {
    background:#36C;
	cursor: pointer;
}
.binhluan span{
	font-size:25px;
	color:white;
	line-height:1.9em;
	display:block;
}
.cmtbinhluan,.showbinhluan{
	height:100%;
	width:100%;
	border-top:1px groove #AAA;
	float:left;
}
.showthongtinbinhluan{
	padding-top:20px;
	width:100%;
	float:left;
}
.showthongtinbinhluan .avatar{
	float:left;
}
.avatar a{
    float: left;
    width: 30px;
    height: 30px;
    background: #ddd;
    margin-right: 7px;
    text-align: center;
    color: #666;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    text-shadow: 1px 1px 0 rgba(255,255,255,.2);
}
.showthongtinbinhluan .ten{
	padding-top:2px;
	margin-left:7px;
	width:92%;
	color:white;
	display:block;
	font-weight:bold;
	font-size:16px;
	line-height:30px;
	float:left;
}
.showthongtinbinhluan .showcmt{
	width:100%;
	padding-top:10px;
	display:block;
	float:left;
}
.actionuser .cmttraloi {
    float: left;
	width:6%;
	padding-top:10px;
    padding-bottom:25px;
    font-size: 13px;
    color: #288ad9;
}
.actionuser .timecomment {
    float: left;
	width:92%;
	padding-top:10px;
    padding-bottom:25px;
    font-size: 13px;
    color: #999;
    position: relative;
	display:block;
}
.actionuser .timecomment:before {
    float: left;
    content: '•';
    color: #999;
    font-size: 14px;
    margin-right: 5px;
}
.left-side > .menu-left >.menu-left2 ul li:hover{
	cursor: pointer;
}

.titlebar .back {
    float: right;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 23px;
    right: 5px;
}
.titlebar a {
	text-decoration: none;
}

.titlebar .form-close {
    background-image: url(../images/commentmobile@2x.png);
	background-position: -60px -25px;
    background-size: 270px 128px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 230px;
    vertical-align: middle;
	cursor:pointer;
}
.thongtinnguoidungbinhluan{
	border-radius:5px;
	background:white;
	width:580px;
	height:390px;
	padding:10px;
	margin:10px;
	z-index:1 !important;
	top:300px;
	left:740px;
	opacity:1 !important;
	filter:alpha(opacity=1) !important;
	display:none;
	position:fixed;
}
.thongtinnguoidungbinhluan p{
	font-size: 20px;
}
.thongtinnguoidungbinhluan>.titlebar span{
	display: block;
    overflow: hidden;
    padding: 10px;
    font-size: 25px;
	line-height:25px;
    color: #BBB;
    border-bottom: 1px solid #f2f2f2;
    font-weight: bold;
}

.thongtinnguoidungbinhluan input[type=text] {
    display: block;
    padding: 8px;
    width: 100%;
    margin: 10px 0;
    height: 35px;
    border: 1px solid #dadada;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    float:left;
}
input[type=text], input[type=tel], textarea {
    -webkit-appearance: none;
}
.thongtinnguoidungbinhluan input[type=submit] {
    display: block;
    width: 100%;
    margin: 0 auto 10px;
    padding: 8px;
    height: 40px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #4a90e2;
    border-radius: 4px;
    background: #4a90e2;#09F
    cursor: pointer;
}
.thongtinnguoidungbinhluan input[type=submit]:hover{
	background:#36C;
	cursor: pointer;
}
/*Kết thúc bình luận*/


/*Bắt đầu end-side*/
aside #end-side{
	margin:0 auto;
	width:1400px;
	overflow:hidden;
	background:url(../images/body-bg.jpg) repeat left top;
}
aside #end-side .inner{
	padding:25px 0 27px 0;
}
aside #end-side .aside-nav .list1{ padding:7px 198px 12px 28px; margin:12px 0 0 0; background:url(../images/aside-line.png) no-repeat right top; float:left;}
aside #end-side .aside-nav .list1.alt{ padding:7px 198px 12px 121px;}
aside #end-side .aside-nav .list1.alt.last{ padding:7px 57px 12px 121px; background:none;}
aside #end-side .aside-nav .list1 li{list-style-type:none;}
aside #end-side .aside-nav .list1 li a{ font-size:11px; line-height:22px; color:#FF69B4; text-decoration:none; background:url(../images/marker1.gif) no-repeat left 4px; padding-left:13px;}
aside #end-side .aside-nav .list1 li a:hover{ color:#fff;}

#bannerFive {
        padding: 0em;
		width:auto;
        }
.banner-fright { float:right;}
/*Kết thúc end-side*/

/*Back on top*/
#back-top {
    display: none;
    z-index: 99;
}
#back-top span:before {
    cursor: pointer;
    background: #fdd504;
    width: 40px;
    position: fixed;
    right: 20px;
    bottom: 45px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -transition: all .2s linear;
    color: #000;
    content: "▲";
    opacity: .7;
    z-index: 8;
}
#back-top span:before {
    cursor: pointer;
    background: #fdd504;
    width: 40px;
    position: fixed;
    right: 20px;
    bottom: 45px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -transition: all .2s linear;
    color: #000;
    content: "▲";
    opacity: 0.7;
    z-index: 8;
    border-radius: 5px;
}
.none {
    display: none;
}
/*End back ontop*/

/*Bắt đầu menu dọc*/
aside .left-side{
	width:250px;
	height:950px;
	float:left;
	}
aside .left-side .menu-left{
	float:left;
	width:250px;
	border-top-left-radius:5px 10px;
}
aside .left-side .menu-left2 .menu-tieude{
	width:100%;
	height:30px;
	background-color:black;
	text-align:center;
	padding-top:10px;
	box-shadow: 0 0 3px white;
}
aside .left-side .menu-left2 .menu-tieude span{
	margin: 20px;
	color:white;
	font-size:18px;
	}
aside .left-side .menu-left2 .menu-content{
	border: 1px groove white;
}
.left-side > .menu-left >.menu-left2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1;
  z-index:2;
  display: block;
  position: relative;
  width: 100%;
}
.left-side > .menu-left >.menu-left2 ul li {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

.left-side > .menu-left >.menu-left2 ul li a {
  display: block;
  position: relative;
  margin: 0;
  border-top: 1px dotted #3a3a3a;
  border-bottom: 1px dotted #1b1b1b;
  padding: 11px 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: #d8d8d8;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #000;
  font-size: 13px;
  font-weight: 300;
  background: #282828;
}

.left-side > .menu-left >.menu-left2 ul li:first-child > a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 0;
}

.left-side > .menu-left >.menu-left2 ul li:last-child > a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 0;
}

.left-side > .menu-left >.menu-left2 ul li > a:hover,
.left-side > .menu-left >.menu-left2 ul li:hover > a {
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background: #54cdf1;
  background: -webkit-linear-gradient(#72d4f2, #54cdf1);
  background: -moz-linear-gradient(#72d4f2, #54cdf1);
  background: linear-gradient(gray,black);
  border-color: transparent;
}

.left-side > .menu-left >.menu-left2 ul .has-sub > a::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 10px;
  width: 0px;
  height: 0px;
  border: 4px solid transparent;
  border-left: 4px solid #d8d8d8;
}

.left-side > .menu-left >.menu-left2 ul .has-sub > a::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 10px;
  width: 0px;
  height: 0px;
  border: 4px solid transparent;
  border-left: 4px solid #000;
}

.left-side > .menu-left >.menu-left2 ul li > a:hover::after,
.left-side > .menu-left >.menu-left2 ul li:hover > a::after {
  border-left: 4px solid #ffffff;
}
.left-side > .menu-left >.menu-left2 ul li > a:hover::before,
.left-side > .menu-left >.menu-left2 ul li:hover > a::before {
  border-left: 4px solid rgba(0, 0, 0, 0.3);
}
.left-side > .menu-left >.menu-left2 ul ul {
  position: absolute;
  left: 100%;
  top: -9999px;
  padding-left: 5px;
  opacity: 0;
  width: 260px;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.left-side > .menu-left >.menu-left2 ul li:hover > ul {
  top: 0px;
  opacity: 1;
}
/*Kết thúc menu dọc*/

/*Bắt đầu footer*/
footer{
	clear:both;
	margin:0 auto;
	max-width:1400px;
	width:100%;
	box-shadow:0 0 15px white;
	background-color:black;
	}
.footer span{
	padding-left:20px;
	font-size:14px;
	font-variant:small-caps;
	line-height:40px;
	
	}
/*Kết thúc footer*/
